.flex-center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.navbar-cards {
  margin-left: auto !important;
}

.search-input {
  border-radius: 0 !important;
  max-width: 350px !important;
}

.filter-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  max-height: 200px;
  overflow: auto;
}
.filter-label {
  color: gray;
}

.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.product-item {
  flex: 1;
  width: 100%;
  margin: 1rem 5px;
  justify-content: center;
  display: flex;
}

.product-card {
  max-width: 200px;
  min-width: 100px;
  cursor: pointer;
}

.product-card:hover {
  scale: 1.01;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-image {
  width: -webkit-fill-available;
}

.card-price {
  color: #2a59fe;
  padding-top: 5px;
}

.card-button {
}

body {
  background-color: whitesmoke !important;
  padding-bottom: 200px;
}

.card-name {
  height: 50px;
}
